body { background: #ebb432; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 19px; display: flex; }
.block-notify-0 { color: #739294; font-size: 13px; margin-bottom: 5px; }
.block-product-1 { color: #69844c; font-size: 21px; margin-bottom: 5px; }
.block-filter-2 { color: #fbc5e2; font-size: 19px; margin-bottom: 5px; }
.block-invoice-3 { color: #2d64fd; font-size: 14px; margin-bottom: 5px; }
.block-router-4 { color: #fdd113; font-size: 16px; margin-bottom: 5px; }